**/__pycache__/
**/*.pyc
**/venv/
**/.env
**/*.log
**/logs/
**/node_modules/
**/.next/
**/dist/
.git/
.idea/
.vscode/
playground/
demo/
docs/
infra/
launchpad-frontend/
identity-services/
app_scripts/
.kiro/
