POSTGRES_USER=launchpad
POSTGRES_PASSWORD=change-me
POSTGRES_DB=application_db
POSTGRES_PORT=5433
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=users_db
MYSQL_USER=launchpad
MYSQL_PASSWORD=change-me
MYSQL_PORT=3306
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=launchpad
MONGO_INITDB_ROOT_PASSWORD=change-me
REDIS_PASSWORD=change-me
REDIS_PORT=6379
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
GRAFANA_ADMIN_PASSWORD=change-me
TAG=latest
